<div class="ibox">
    <div class="ibox-title">

    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                    <tr>
                        <th>Volumes</th>
                        <th>Incomes</th>
                        <th>Cost</th>
                        <th>eCPM</th>
                        <th>Volume</th>
                        <th>Income</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
