<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 translate="summary.summary">Summary
                        <small></small>
                    </h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div  class="col-md-2 m-b-xl" >
                            <date-range-picker on-change-dates="vm.onChangeDates($event)"></date-range-picker>
                        </div>
                    </div>

                    <summary-filters stats="vm.stats" on-change-stats="vm.onChangeStats($event)"></summary-filters>

                    <div class="row">
                        <div class="col-md-12">
                            <table datatable="ng" class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Company</th>
                                    <th>Country</th>
                                    <th>Type</th>
                                    <th>Volume</th>
                                    <th>CPM Cost</th>
                                    <th>Income</th>
                                    <th>Cost</th>
                                    <th>Margin</th>
                                    <th>eCPM</th>
                                    <th>Estimated Volume</th>
                                    <th>Estimated Incomes</th>
                                    <th>Estimated Costs</th>
                                    <th>Estimated Margin</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="stat in vm.filteredStats">
                                    <td>{{ stat.database_name }}</td>
                                    <td>{{ stat.company_name }}</td>
                                    <td>{{ stat.database_country }}</td>
                                    <td>{{ stat.database_type }}</td>
                                    <td>{{ stat.real.volume | number:0 }}</td>
                                    <td>{{ stat.real.cpmCost | number:2 }}</td>
                                    <td>{{ stat.real.income | currency:"€":2 }}</td>
                                    <td>{{ stat.real.cost | currency:"€":2 }}</td>
                                    <td>{{ stat.real.margin | currency:"€":2 }}</td>
                                    <td>{{ stat.real.ecpm | number:2 }}</td>
                                    <td>{{ stat.estimate.volume | number:0 }}</td>
                                    <td>{{ stat.estimate.income | currency:"€":2 }}</td>
                                    <td>{{ stat.estimate.cost | currency:"€":2 }}</td>
                                    <td>{{ stat.estimate.margin| currency:"€":2  }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
