<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5 translate="summary.summary">Summary
                        <small></small>
                    </h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div  class="col-md-2 m-b-md" >
                            <date-range-picker on-change-dates="vm.onChangeDates($event)"></date-range-picker>
                        </div>
                    </div>

                    <summary-filters stats="vm.stats" on-change-filters="vm.onChangeFilters($event)"></summary-filters>

                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="ibox">
                <summary-router-show ng-repeat="router in vm.routers" filters-value="vm.filtersValue" router="router"></summary-router-show>
            </div>
        </div>
    </div>
</div>
