<div class="widget style1 yellow-bg p-lg" ng-if="!vm.contact">
    <h3 class="font-bold">
        <i class="fa fa-user"></i>
        <span translate="contact.empty"> No contact</span>
    </h3>
</div>
<div class="ibox">
    <div class="ibox-content" ng-if="vm.contact">
        <div ng-if="vm.showPicture" class="col-sm-4">

            <div class="text-center">
                <img alt="image" class="img-circle m-t-xs img-thumbnail" src="assets/images/patterns/toto.jpg">

                <div class="m-t-xs font-bold">{{ vm.contact.fonction }}</div>
            </div>
        </div>
        <div class="col-sm-{{ vm.showPicture ? '8' : '12' }}">
            <div ng-class="{'m-b-lg' : vm.showPicture}">

                <h3>
                    <small>{{ vm.contact.civility }}</small>
                    <div ng-if="vm.showButtons" class="pull-right">
                        <a ui-sref="contact.edit({contactId: vm.contact.id})"><button class="btn btn-outline btn-sm btn-primary">
                            <span class="fa fa-pencil"></span>
                        </button></a>
                        <a ui-sref="contact.delete({contactId: vm.contact.id})"><button class="btn btn-outline btn-sm btn-danger">
                            <span class="fa fa-trash"></span>
                        </button></a>
                    </div>

                    <br>
                    <span>{{ vm.contact.firstname }} {{ vm.contact.surname }}</span>

                </h3>
            </div>
            <hr ng-if="vm.showPicture">
            <p><i class="fa fa-briefcase" ng-if="vm.contact.company"></i> {{vm.contact.company.name }} </p>
            <p ng-if="!vm.showPicture"><i class="fa fa-gear"></i> {{vm.contact.fonction}}</p>
            <p><i class="fa fa-tag"></i> {{vm.contact.type }} </p>
            <p><i class="fa fa-envelope"></i> {{vm.contact.mail }}</p>
            <p><a href="skype: {{ vm.contact.skype }}" title="{{ vm.contact.skype }}">
                <i class="fa fa-skype"></i>
                {{ vm.contact.skype }}
            </a></p>
            <p><a href="tel: {{ vm.contact.phone }}"><i class="fa fa-phone"></i> {{ vm.contact.phone }}</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

