<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-body">

        <div class="row">
            <div class="form-group col-md-2">
                <label for="announcer_contacts">Contacts</label>
                <select class="form-control" id="announcer_contacts" name="contacts" ng-model="vm.announcer.contacts" ng-options="contact.id as contacts.name for contact in vm.contacts">

                </select>
                <div ng-show="editForm.contacts.$invalid">
                    <p class="help-block"
                       ng-show="editForm.contacts.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group col-md-5">
                <div class="form-group">
                    <label class="control-label" for="announcer_announcer">Announcer</label>
                    <input type="text" class="form-control" name="announcer" id="announcer_announcer" ng-model="vm.announcer.announcer" required/>
                </div>
                <div ng-show="editForm.announcer.$invalid">
                    <p class="help-block"
                       ng-show="editForm.announcer.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>


        </div>

    </div>

    <div class="modal-footer">
        <!--<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-block btn-primary">-->
        <button type="submit" class="btn btn-block btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
