<div class="contact-box">
    <h3>{{ vm.announcer.announcer }}</h3><br>
    <span>Reine Rouge ID</span> : <span>{{ vm.announcer.reinerouge_id }}</span><br>
    <span>Country</span> : <span>{{ vm.announcer.country }}</span><br>
    <span>Company</span> : <span>{{ vm.announcer.company.name }}</span><br>
    <hr>
    <span>{{ vm.announcer.address.street }}</span><br>
    <span>{{ vm.announcer.address.town }}</span> - <span>{{ vm.announcer.address.zipcode }}</span><br>
    <strong>{{ vm.announcer.address.country }}</strong><br>
</div>
