
<div class="row">
    <div class="form-group col-md-3">
        <label ><span translate="summary.databases">Databases</span></label>
        <am-multiselect multiple="true"
                        ms-selected ="There are {{vm.filters.selectedDatabases.length}} database(s) selected"
                        template-url="app/layouts/select-template.html"
                        ng-model="vm.filters.selectedDatabases" ms-header="Select databases"
                        options="database as database.name for database in vm.filtersContent.databases"
                        change="vm.onChangeFilter()">
        </am-multiselect>
    </div>

    <div class="form-group col-md-3">
        <label ><span translate="summary.companies">Companies</span></label>
        <am-multiselect multiple="true"
                        ms-selected ="There are {{vm.filters.selectedCompanies.length}} company(ies) selected"
                        template-url="app/layouts/select-template.html"
                        ng-model="vm.filters.selectedCompanies" ms-header="Select companies"
                        options="company as company.name for company in vm.filtersContent.companies"
                        change="vm.onChangeFilter()">
        </am-multiselect>
    </div>

    <div class="form-group col-md-2">
        <label ><span translate="summary.types">Types</span></label>
        <am-multiselect multiple="true"
                        ms-selected ="There are {{vm.filters.selectedTypes.length}} types(s) selected"
                        template-url="app/layouts/select-template.html"
                        ng-model="vm.filters.selectedTypes" ms-header="Select types"
                        options="type as type.name for type in vm.filtersContent.types"
                        change="vm.onChangeFilter()">
        </am-multiselect>
    </div>

    <div class="form-group col-md-2">
        <label ><span translate="summary.database-active"></span></label>
        <am-multiselect multiple="true"
                        ms-selected ="There are {{vm.filters.selectedActives.length}} status selected"
                        template-url="app/layouts/select-template.html"
                        ng-model="vm.filters.selectedActives" ms-header="Select status"
                        options="status as status.name for status in vm.filtersContent.actives"
                        change="vm.onChangeFilter()">
        </am-multiselect>
    </div>

    <div class="form-group col-md-2">
        <label ><span translate="summary.country"></span></label>
        <am-multiselect multiple="true"
                        ms-selected ="There are {{vm.filters.selectedCountries.length}} countries selected"
                        template-url="app/layouts/select-template.html"
                        ng-model="vm.filters.selectedCountries" ms-header="Select country"
                        options="country as country.name for country in vm.filtersContent.countries"
                        change="vm.onChangeFilter()">
        </am-multiselect>
    </div>

</div>
