<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a ui-sref="home" class="navbar-brand">
                <img src="../../../assets/images/logo.png" height="30" width="101"/>
            </a>
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="" ng-click="vm.minimalize()"><i class="fa fa-bars"></i></a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown class="dropdown pointer" ng-controller="DtoolLanguageController as languageVm">
                <a class="dropdown-toggle" uib-dropdown-toggle href="">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                    <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                        <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a ui-sref="address">
                    <i class="fa fa-globe"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-tags"></i>
                </a>
            </li>
            <li>
                <a ui-sref="user">
                    <i class="fa fa-user"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-bell"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-wechat"></i>
                </a>
            </li>
            <li>
                <a ng-click="vm.logout()">
                    Log out <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
