<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox">
                <tab-generator tabs="vm.tabs"></tab-generator>
            </div>
        </div>
        <div class="col-sm-4">
            <router-show router="vm.showedRouter"></router-show>
        </div>
    </div>
</div>
<!--<div class="ibox">-->
    <!--<div class="tabs-container">-->
    <!--<uib-tabset>-->
    <!--<uib-tab>-->
    <!--<uib-tab-heading>-->
    <!--<i class="fa fa-sitemap"></i>-->
    <!--<span translate="router.router">Router</span>-->
    <!--</uib-tab-heading>-->
    <!--<div class="panel-body">-->
    <!--<router-index routers="vm.routers"></router-index>-->
    <!--</div>-->
    <!--</uib-tab>-->
    <!--<uib-tab>-->
    <!--<uib-tab-heading>-->
    <!--<i class="fa fa-phone"></i>-->
    <!--<span translate="pricingTier.pricingTiers"> Pricing tier</span>-->
    <!--</uib-tab-heading>-->
    <!--<div class="panel-body">-->
    <!--<pricing-tier pricing-tiers="vm.pricingTiers"></pricing-tier>-->
    <!--</div>-->
    <!--</uib-tab>-->
    <!--<uib-tab>-->
    <!--<uib-tab-heading>-->
    <!--<i class="fa fa-phone"></i>-->
    <!--<span translate="pricingPlan.pricingPlan"> Pricing plan</span>-->
    <!--</uib-tab-heading>-->
    <!--<div class="panel-body">-->
    <!--<pricing-plan pricing-plans="vm.pricingPlans"></pricing-plan>-->
    <!--</div>-->
    <!--</uib-tab>-->
    <!--</uib-tabset>-->
    <!--</div>-->
<!--</div>-->
