<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate="announcer.list">Announcers list
                        <small></small>
                    </h5>
                    <div class="ibox-tools">
                        <a ui-sref="announcer.platform-access.create" class="btn btn-primary b-r-xs"><span translate="announcer.platform-access.add">Add Platform Access</span></a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th><span translate="announcer.announcer">Announcer</span></th>
                            <th><span translate="announcer.platform-access.username">Username</span></th>
                            <th><span translate="announcer.platform-access.password">Password</span></th>
                            <th>URL</th>
                            <th><span translate="announcer.platform-access.description">Description</span></th>
                        </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="announcer in vm.announcers">
                                <td>{{announcer.announcer}}
                                    <a ui-sref="announcer.platform-access.create({announcerId: announcer.id})" class="btn btn-xs btn-primary pull-right" role="button">
                                        <span class="fa fa-plus"></span>
                                    </a>
                                </td>
                                <td>
                                    <p ng-repeat="platform in announcer.platform_access">
                                        {{ platform.username }}
                                        <span class="pull-right">
                                            <a ui-sref="announcer.platform-access.edit({platformAccessId: platform.id})" class="btn btn-xs btn-white"><i class="fa fa-edit"></i>  </a>
                                            <a ui-sref="announcer.platform-access.delete({platformAccessId: platform.id})" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i>  </a>
                                        </span>
                                    </p>
                                </td>
                                <td>
                                    <p ng-repeat="platform in announcer.platform_access">{{ platform.password }}</p>
                                </td>
                                <td>
                                    <p ng-repeat="platform in announcer.platform_access">{{ platform.url }}</p>
                                </td>
                                <td>
                                    <p ng-repeat="platform in announcer.platform_access">{{ platform.description }}</p>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th><span translate="announcer.announcer">Announcer</span></th>
                            <th><span translate="announcer.platform-access.username">Username</span></th>
                            <th><span translate="announcer.platform-access.password">Password</span></th>
                            <th>URL</th>
                            <th><span translate="announcer.platform-access.description">Description</span></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
