<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.name">Name</span>
            </strong><span class="col-md-8">{{ $ctrl.router.name }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.description">Description</span>
            </strong><span class="col-md-8">{{ $ctrl.router.description }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.contact_name">Contact name</span>
            </strong><span class="col-md-8">{{ $ctrl.router._contact_name }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.contact_email">Contact email</span>
            </strong><span class="col-md-8">{{ $ctrl.router._contactemail }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.contact_email_billing">Contact email billing</span>
            </strong><span class="col-md-8">{{ $ctrl.router._contactemail }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.contact_name_billing">Name email billing</span>
            </strong><span class="col-md-8">{{ $ctrl.router._billing_contact_name }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.physical_address">Physical address</span>
            </strong><span class="col-md-8">{{ $ctrl.router._physical_address }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.second_physical_address">Second physical address</span>
            </strong><span class="col-md-8">{{ $ctrl.router._physical_address_second }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.postal_number">Postal number</span>
            </strong><span class="col-md-8">{{ $ctrl.router._postal_number}}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.town">Town</span>
            </strong><span class="col-md-8">{{ $ctrl.router.town }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.country">Country</span>
            </strong><span class="col-md-8">{{ $ctrl.router.country }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.company_registry_number">Company registry number</span>
            </strong><span class="col-md-8">{{ $ctrl.router._company_registry_number}}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.vat_number">VAT</span>
            </strong><span class="col-md-8">{{ $ctrl.router._v_a_t_number }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.billing_period">Billing period</span>
            </strong><span class="col-md-8">{{ $ctrl.router._billing_period }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="router.payment_end_of_month">Payment end of month</span>
            </strong><span class="col-md-8">{{ $ctrl.router._payment_endofmonth }}</span><br>
        </div>
    </div>

</div>


