<form name="editForm" role="form" ng-submit="vm.onSubmit()">
    <div class="row">
        <div class="form-group col-md-5" ng-class="{ 'has-error' : (editForm.name.$invalid && !editForm.name.$pristine), 'has-success': editForm.name.$valid}">
            <div class="form-group">
                <label class="control-label" for="router_name" translate="router.name">Name</label>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-{{ editForm.name.$invalid ? 'times' : 'check'}}"></i></span>
                    <input type="text" class="form-control" name="name" id="router_name"
                           ng-model="vm.router.name" required minlength="3" maxlength="50"/>
                </div>
            </div>
            <div ng-show="editForm.name.$invalid && !editForm.name.$pristine">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="global.entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.name.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.name.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:50}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group col-md-12" ng-class="{ 'has-error' : (editForm.description.$invalid && !editForm.description.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_description" translate="router.description">Description</label>

                <input type="text" class="form-control" name="description" id="router_description"
                       ng-model="vm.router.description" minlength="3" maxlength="50"/>

            </div>
            <div ng-show="editForm.description.$invalid && !editForm.description.$pristine">

                <p class="help-block"
                   ng-show="editForm.description.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.description.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:50}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>
    </div>

    <hr class="hr-line-solid">

    <div class="row">
        <div class="form-group col-md-5" ng-class="{ 'has-error' : (editForm.contactName.$invalid && !editForm.contactName.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_contactName" translate="router.contact_name">ContactName</label>

                    <input type="text" class="form-control" name="contactName" id="router_contactName"
                           ng-model="vm.router.ContactName" minlength="3" maxlength="35"/>

            </div>
            <div ng-show="editForm.contactName.$invalid && !editForm.contactName.$pristine">

                <p class="help-block"
                   ng-show="editForm.contactName.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.contactName.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:35}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group col-md-7" ng-class="{ 'has-error' : (editForm.email.$invalid && !editForm.email.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_email" translate="router.contact_email">Email</label>

                    <input type="text" class="form-control" name="email" id="router_email"
                           ng-model="vm.router.email" minlength="3" maxlength="35"/>

            </div>
            <div ng-show="editForm.email.$invalid && !editForm.email.$pristine">
                <p class="help-block"
                   ng-show="editForm.email.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:35}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-5" ng-class="{ 'has-error' : (editForm.billingContactName.$invalid && !editForm.billingContactName.$pristine), 'has-success': editForm.billingContactName.$valid}">
            <div class="form-group">
                <label class="control-label" for="router_billingContactName" translate="router.contact_name_billing">BillingContactName</label>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-{{ editForm.billingContactName.$invalid ? 'times' : 'check'}}"></i></span>
                    <input type="text" class="form-control" name="billingContactName" id="router_billingContactName"
                           ng-model="vm.router.BillingContactName" required minlength="3" maxlength="35"/>
                </div>
            </div>
            <div ng-show="editForm.billingContactName.$invalid && !editForm.billingContactName.$pristine">
                <p class="help-block"
                   ng-show="editForm.billingContactName.$error.required" translate="global.entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.billingContactName.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.billingContactName.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:35}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group col-md-7" ng-class="{ 'has-error' : (editForm.contactEmail.$invalid && !editForm.contactEmail.$pristine), 'has-success': editForm.contactEmail.$valid}">
            <div class="form-group">
                <label class="control-label" for="router_contactEmail" translate="router.contact_email_billing">ContactEmail</label>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-{{ editForm.contactEmail.$invalid ? 'times' : 'check'}}"></i></span>
                    <input type="text" class="form-control" name="contactEmail" id="router_contactEmail"
                           ng-model="vm.router.Contactemail" required minlength="3" maxlength="35"/>
                </div>
            </div>
            <div ng-show="editForm.contactEmail.$invalid && !editForm.contactEmail.$pristine">
                <p class="help-block"
                   ng-show="editForm.contactEmail.$error.required" translate="global.entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.contactEmail.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.contactEmail.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:35}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>
    </div>

    <hr class="hr-line-solid">

    <div class="row">
        <div class="form-group col-md-6" ng-class="{ 'has-error' : (editForm.physicalAddress.$invalid && !editForm.physicalAddress.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_physicalAddress" translate="router.physical_address">PhysicalAddress</label>

                <input type="text" class="form-control" name="physicalAddress" id="router_physicalAddress"
                       ng-model="vm.router.PhysicalAddress" minlength="5" maxlength="75"/>

            </div>
            <div ng-show="editForm.physicalAddress.$invalid && !editForm.physicalAddress.$pristine">
                <p class="help-block"
                   ng-show="editForm.physicalAddress.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:5}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.physicalAddress.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:75}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group col-md-6" ng-class="{ 'has-error' : (editForm.physicalAddressSecond.$invalid && !editForm.physicalAddressSecond.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_physicalAddressSecond" translate="router.physical_address_second">PhysicalAddressSecond</label>

                <input type="text" class="form-control" name="physicalAddressSecond" id="router_physicalAddressSecond"
                           ng-model="vm.router.PhysicalAddressSecond" minlength="3" maxlength="75"/>

            </div>
            <div ng-show="editForm.physicalAddressSecond.$invalid && !editForm.physicalAddressSecond.$pristine">
                <p class="help-block"
                   ng-show="editForm.physicalAddressSecond.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.physicalAddressSecond.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:75}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4" ng-class="{ 'has-error' : (editForm.town.$invalid && !editForm.town.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_town" translate="router.town">Town</label>

                    <input type="text" class="form-control" name="town" id="router_town"
                           ng-model="vm.router.town" minlength="3" maxlength="45"/>

            </div>
            <div ng-show="editForm.town.$invalid && !editForm.town.$pristine">
                <p class="help-block"
                   ng-show="editForm.town.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.town.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:45}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group col-md-4" ng-class="{ 'has-error' : (editForm.postalNumber.$invalid && !editForm.postalNumber.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_postalNumber" translate="router.postal_number">PostalNumber</label>

                <input type="text" class="form-control" name="postalNumber" id="router_postalNumber"
                       ng-model="vm.router.PostalNumber" minlength="4" maxlength="15"/>

            </div>
            <div ng-show="editForm.postalNumber.$invalid && !editForm.postalNumber.$pristine">
                <p class="help-block"
                   ng-show="editForm.postalNumber.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:4}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.postalNumber.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:15}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label" translate="router.country" for="router_country">Country</label>
            <div>
                <ui-select ng-model="vm.router.country" theme="bootstrap" id="router_country">
                    <ui-select-match placeholder="Select a country...">{{$select.selected.code}}</ui-select-match>
                    <ui-select-choices repeat="country.code as country in vm.countries | filter: $select.search">
                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                        <small ng-bind-html="country.code | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

    </div>

    <hr class="hr-line-solid">

    <div class="row">
        <div class="col-md-12" ng-class="{ 'has-error' : (editForm.companyRegistryNumber.$invalid && !editForm.companyRegistryNumber.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_companyRegistryNumber" translate="router.company_registry_number">CompanyRegistryNumber</label>

                <input type="text" class="form-control" name="companyRegistryNumber" id="router_companyRegistryNumber"
                           ng-model="vm.router.CompanyRegistryNumber" minlength="3" maxlength="16"/>

            </div>
            <div ng-show="editForm.companyRegistryNumber.$invalid && !editForm.companyRegistryNumber.$pristine">

                <p class="help-block"
                   ng-show="editForm.companyRegistryNumber.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.companyRegistryNumber.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:16}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6" ng-class="{ 'has-error' : (editForm.VATNumber.$invalid && !editForm.VATNumber.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_VATNumber" translate="router.vat_number">VATNumber</label>
                    <input type="text" class="form-control" name="VATNumber" id="router_VATNumber"
                           ng-model="vm.router.VATNumber" minlength="3" maxlength="55"/>
            </div>
            <div ng-show="editForm.VATNumber.$invalid && !editForm.VATNumber.$pristine">

                <p class="help-block"
                   ng-show="editForm.VATNumber.$error.minlength"
                   translate="global.entity.validation.minlength" translate-values="{min:3}">
                    This field should have at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.VATNumber.$error.maxlength"
                   translate="global.entity.validation.maxlength" translate-values="{max:55}">
                    This field should have less than 50 characters.
                </p>
            </div>
        </div>
        <div class="col-md-6" ng-class="{ 'has-error' : (editForm.billingPeriod.$invalid && !editForm.billingPeriod.$pristine)}">
            <div class="form-group">
                <label class="control-label" for="router_billingPeriod" translate="router.billing_period">BillingPeriod</label>
                <input type="number" class="form-control" name="billingPeriod" id="router_billingPeriod"
                       ng-model="vm.router.BillingPeriod" min="0" max="1000"/>
            </div>
            <div ng-show="editForm.billingPeriod.$invalid && !editForm.billingPeriod.$pristine">

                <p class="help-block"
                   ng-show="editForm.billingPeriod.$error.min"
                   translate="global.entity.validation.min" translate-values="{min:0}">
                    This field should have a minimum value of 3.
                </p>
                <p class="help-block"
                   ng-show="editForm.billingPeriod.$error.max"
                   translate="global.entity.validation.max" translate-values="{max:1000}">
                    This field should have a maximum value of 1000.
                </p>
            </div>
        </div>
    </div>

    <div ng-class="{ 'has-error' : (editForm.paymentEndofmonth.$invalid && !editForm.paymentEndofmonth.$pristine)}">
        <div class="form-group">

            <input id="router_paymentEndofmonth" class="form-control" icheck type="checkbox" ng-model="vm.router.PaymentEndofmonth"><i></i>
            <label class="control-label" for="router_paymentEndofmonth" translate="router.payment_end_of_month">PaymentEndofmonth</label>
        </div>
    </div>


    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-block btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span ng-if="!vm.router.id" translate="router.save">Save</span>
        <span ng-if="vm.router.id" translate="router.update">Update</span>
    </button>
</form>
