<div class="ibox">
    <div class="ibox-title">
        <h3>Margin volume ecpm</h3>
    </div>
    <div class="ibox-content">
        <div class="row">

            <div class="col-lg-12">
                <div class="pull-right">
                    <div class="btn-group btn-block">
                        <button class="btn btn-primary btn-outline" ng-click="vm.selectedDate = 'm1'" type="button">M-1</button>
                        <button class="btn btn-primary btn-outline" ng-click="vm.selectedDate = 'm2'" type="button">M-2</button>
                        <button class="btn btn-primary btn-outline" ng-click="vm.selectedDate = 'm12'" type="button">M-12</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">

                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Income</h5>
                        <h1 class="no-margins">886,200</h1>
                        <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                        <small>Total income</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Income</h5>
                        <h1 class="no-margins">886,200</h1>
                        <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                        <small>Total income</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Income</h5>
                        <h1 class="no-margins">886,200</h1>
                        <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                        <small>Total income</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
