<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">DE+</h1>
        </div>
        <h3 translate="login.welcome">Welcome to DT+</h3>
        <form class="m-t" role="form" ng-submit="vm.login($event)">
            <div class="form-group">
                <input type="text" id="username" class="form-control"
                       placeholder="{{ 'login.username' | translate }}" required ng-model="vm.username">
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control"
                       placeholder="{{ 'login.password' | translate }}" required ng-model="vm.password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" translate="login.signin">Sign in</button>
            <a href><small translate="login.forgotPassword">Forgot password?</small></a>
        </form>
        <p class="m-t"> <small>Data Engine v1</small> </p>
    </div>
</div>
