
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 translate="company.list">Companies list
                        <small></small>
                    </h5>
                    <div class="ibox-tools">
                        <button ui-sref="company.create" class="btn btn-outline btn-primary btn" translate="company.new">Create new company</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="clients-list">
                        <div class="tab-content">
                            <div>
                                <div class="full-height-scroll" full-scroll>
                                    <div class="table-responsive">
                                        <table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th translate="company.name">Name</th>
                                                    <th translate="company.phone">Phone</th>
                                                    <th translate="company.numTva">Num Tva</th>
                                                    <th translate="company.paymentPeriod.name">Payment Period</th>
                                                    <th translate="company.invoiceDeliveryDay">Invoice delivery day</th>
                                                </tr>
                                            </thead>
                                            <tbody class="gradeX" ng-repeat="company in vm.companies">
                                                <tr ng-click="vm.showCompany(company)">
                                                    <td><a class="client-link">{{ company.name }}</a></td>
                                                    <td> <i class="fa fa-phone"> </i> {{ company.phone }} </td>
                                                    <td>{{ company.num_tva }}</td>
                                                    <td>{{ company.payment_period }}</td>
                                                    <td>{{ company.invoice_delivery_day }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <company-show company="vm.showedCompany"></company-show>
        </div>
    </div>
</div>
