<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="pricingTier.name">Name</span>
            </strong><span class="col-md-8">{{ ::$ctrl.pricingTier.name }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="pricingTier.comment">Comment</span>
            </strong><span class="col-md-8">{{ ::$ctrl.pricingTier.comment }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="pricingTier.thisCpm">thisCpm</span>
            </strong><span class="col-md-8">{{ ::$ctrl.pricingTier.this_cpm }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="pricingTier.cpm">Is cpm</span>
            </strong><span class="col-md-8">{{ ::$ctrl.pricingTier.cpm }}</span><br>
        </div>
        <div class="row">
            <strong class="col-md-3"><span class="pull-right" translate="pricingTier.minimalValue">Minimal value</span>
            </strong><span class="col-md-8">{{ ::$ctrl.pricingTier.minimal_value }}</span><br>
        </div>
    </div>

</div>


