<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h2>Informations
                                <div class="pull-right">
                                    <a ui-sref="database.edit"><button class="btn btn-outline btn-sm btn-primary">
                                        <span class="fa fa-pencil"></span>
                                    </button></a>

                                </div>
                            </h2>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-3">
                                    <img alt="image" class="img-md  img-thumbnail" src="assets/images/logo-es.jpg">

                                </div>
                                <div class="col-md-9">
                                    <span><span class="font-bold">API Url </span>: https://api2.esv2.com/</span><br>
                                    <span><span class="font-bold">API Keys </span> : 0kI3FTjPyakg3kgxQYVh</span>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span translate="database.active"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="fa fa-check-square"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span translate="database.sexe"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="fa fa-check-square"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span translate="database.age"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="fa fa-square-o"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 border-left">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span translate="database.surname"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="fa fa-square-o"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span translate="database.firstname"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="fa fa-check-square"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span translate="database.zipcode"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="fa fa-check-square"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <avg-volume></avg-volume>
                </div>
                <div class="col-md-12">
                    <margin-volume-ecpm></margin-volume-ecpm>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <campaigns-sections></campaigns-sections>
                </div>
                <div class="col-md-12">
                    <incomes-margin-graph></incomes-margin-graph>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <cpm-campaigns></cpm-campaigns>
                </div>
                <div class="col-md-12">
                    <last-data-updated></last-data-updated>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <last-campaigns></last-campaigns>
        </div>
    </div>
</div>
