<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" translate="database.dialog.createOrEdit">Create or edit a database</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" translate="database.name" for="database_name">Name</label>
            <div class="input-group">
                <input id="database_name" type="text" class="form-control" name="name" ng-model="vm.database.name" required  />
            </div>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="global.entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="database.country" for="database_country">Country</label>
            <div class="input-group">
                <input id="database_country" type="text" class="form-control" name="name" ng-model="vm.database.country" required  />
            </div>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="global.entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
