<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <invoice-request-main-form announcers="vm.announcers" on-data-received="vm.onDataReceived($event)"></invoice-request-main-form>
        </div>
        <div class="col-lg-2">
            mich mich
        </div>
    </div>
    <div class="row">
        <div class="ibox">
            <div ui-view></div>
        </div>
    </div>
</div>
