<form name="editForm" role="form" novalidate ng-submit="vm.onSubmit()">
    <div class="form-group" ng-if="!vm.fromAnnouncer">
        <label for="platform_access_announcer">Announcer</label>
        <ui-select ng-model="vm.platformAccess.announcer" theme="bootstrap" id="platform_access_announcer">
            <ui-select-match placeholder="Select or search an Announcer in the list...">{{$select.selected.announcer}}</ui-select-match>
            <ui-select-choices repeat="announcer in vm.announcers | filter: $select.search">
                <div ng-bind-html="announcer.announcer | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <div ng-show="editForm.announcer.$invalid">
            <p class="help-block"
               ng-show="editForm.announcer.$error.required">
                This field is required.
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label class="control-label" for="platform_access_url">URL</label>
            <input type="text" class="form-control" name="url" id="platform_access_url" ng-model="vm.platformAccess.url" required/>
        </div>
        <div ng-show="editForm.url.$invalid">
            <p class="help-block"
               ng-show="editForm.url.$error.required">
                This field is required.
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label class="control-label" for="platform_access_username">Login</label>
            <input type="text" class="form-control" name="username" id="platform_access_username" ng-model="vm.platformAccess.username" required/>
        </div>
        <div ng-show="editForm.username.$invalid">
            <p class="help-block"
               ng-show="editForm.username.$error.required">
                This field is required.
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label class="control-label" for="platform_access_password">Password</label>
            <input type="text" class="form-control" name="password" id="platform_access_password" ng-model="vm.platformAccess.password" required/>
        </div>
        <div ng-show="editForm.password.$invalid">
            <p class="help-block"
               ng-show="editForm.password.$error.required">
                This field is required.
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label class="control-label" for="platform_access_description">Description</label>
            <input type="text" class="form-control" name="description" id="platform_access_description" ng-model="vm.platformAccess.description" />
        </div>
    </div>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-block btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
    </button>
</form>
