<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle="" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{vm.user.firstname}} {{vm.user.lastname | uppercase}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Developer (fonction)<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a ng-click="vm.logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    DT+
                </div>

            </li>

            <li ui-sref-active="active">
              <a ui-sref="home"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="database"><i class="fa fa-database"></i> <span class="nav-label">Database</span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="contact"><i class="fa fa-phone"></i> <span class="nav-label">Contact</span></a>
            </li>

            <li ng-class="{active: vm.state.includes('announcer')}">
                <a ui-sref="announcer"><i class="fa fa-bullhorn"></i> <span class="nav-label">Announcer</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: vm.state.includes('announcer')}">
                    <li ui-sref-active="active">
                        <a ui-sref="announcer"><i class="fa fa-bullhorn"></i> <span class="nav-label">Announcer</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="announcer.platform-access"><i class="fa fa-key"></i> <span class="nav-label">Platform Access</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
